<div class="footer-section">
    <h3 data-i18n="footer-info">Informations</h3>
    <p>Natacha Renggli, Coppet</p>
    <p><i class="fas fa-envelope"></i> : <a class="reveal-email-link" href="#"><span class="reveal-email"></span></a></p>
    <p><i class="fas fa-phone"></i> : <a class="reveal-phone-link" href="#"><span class="reveal-phone"></span></a></p>
</div>
<div class="footer-logo">
    <img src="res/layout/signature_nr.svg" alt="N. Renggli Signature">
</div>
<div class="footer-section">
    <h3 data-i18n="footer-other">Autres</h3>
    <a href="#" data-i18n="footer-legals">Mentions légales</a>
    <p> 
        <span data-i18n="footer-made">Créé par</span>
        <a href="https://github.com/AdrienRenggli" target="_blank">A. Renggli</a> © <script>document.write(new Date().getFullYear())</script></p>
    <p data-i18n="footer-rights">Tous droits réservés.</p>
</div>