<div class="logo">
    <a href="index.html"><img src="res/layout/focus4pattes.svg" alt="Focus 4 pattes logo"></a>
</div>
<nav class="desktop-nav">
    <a href="#about" data-i18n="nav-about">À propos</a>
    <a href="gallery.html" data-i18n="nav-gallery">Galerie photos</a>
    <a href="#rates" data-i18n="nav-rates">Tarifs</a>
    <button id="lang-switch">🇬🇧</button>

    <a href="https://www.instagram.com/focus4pattes/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
</nav>
<button class="hamburger">☰</button>